body{
 background-image:url("20150702-sous-vide-hamburger-anova-primary-750x563.jpg");
 background-repeat:no-repeat;
 background-size:100%;
}  
h1{
  padding-top:120px;
  color:pink	;
  text-align:center;
}
p
{
  
  padding-top:10px;
  color:yellow;
  font-size:20px;
  text-align:center;

}
@media screen and (max-width:800px) {
  img { max-width: 100%; }
}
